@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
}
header .logo {
  width: 45%;
  margin-top: 20px;
}

footer {
  padding: 7px 0px 20px 20px;
  background-color: rgb(53, 51, 51);
}
footer h2 {
  font-size: 14px;
  font-weight: 200;
  font-family: "Shrikhand", cursive;
  color: white;
}
footer ul {
  list-style: none;
  padding: 0px;
  font-size: 12.5px;
  font-weight: 400;
  color: white;
}
footer li {
  margin-bottom: 5px;
}
footer i {
  margin-right: 5px;
}

.position {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  text-align: center;
  box-shadow: inset 0px 4px 10px -9px black;
  background-color: #e5e5e5;
  font-size: 13.1px;
  font-weight: 500;
}
.position i {
  padding-right: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F2F2F2;
}
nav h1 {
  padding: 15px 40px 0px 40px;
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: 800;
}
nav p {
  margin: 10px 15px 25px 15px;
  font-size: 14.2px;
  font-weight: 400;
  color: rgb(100, 96, 96);
}

button {
  width: 60%;
  margin-bottom: 45px;
  padding: 13px 10px 12px 10px;
  border: none;
  border-radius: 10%/50%;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 12.4px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: white;
}
@media screen and (max-width: 992px) and (min-width: 550px) {
  button {
    width: 30%;
  }
}

article h2 {
  margin: 35px 0px 25px 15px;
  font-size: 19px;
  font-weight: 800;
}
@media screen and (max-width: 992px) and (min-width: 550px) {
  article h2 {
    font-size: 22px;
    text-align: center;
  }
}
article ol {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: upper-greek;
}
@media screen and (max-width: 992px) and (min-width: 550px) {
  article ol {
    flex-direction: row;
    justify-content: space-around;
  }
}
article li {
  width: 80%;
  margin-bottom: 20px;
  padding: 22px 0px 20px 20px;
  border-radius: 7%/30%;
  box-shadow: 0 3px 15px -6px gray;
  background-color: #F2F2F2;
  font-size: 13.1px;
  font-weight: 600;
}
@media screen and (max-width: 992px) and (min-width: 550px) {
  article li {
    width: 200px;
  }
}
article li i {
  color: rgb(100, 96, 96);
  padding-right: 20px;
}
article li i:hover {
  color: #9356DC;
}

section {
  margin-top: 35px;
  padding: 15px 15px 35px 15px;
  background-color: #F2F2F2;
}
section h2 {
  margin: 25px 0px 16px 0px;
  font-size: 19px;
  font-weight: 800;
}
@media screen and (max-width: 992px) and (min-width: 550px) {
  section h2 {
    font-size: 22px;
    text-align: center;
  }
}

#card .nouveau_a {
  width: 45px;
  padding: 5px 10px 5px 10px;
  background-color: #99E2D0;
  font-size: 11px;
  font-weight: 500;
  color: #278870;
  position: absolute;
  z-index: 2;
  left: 70%;
  top: 765px;
}
#card .nouveau_b {
  width: 45px;
  padding: 5px 10px 5px 10px;
  background-color: #99E2D0;
  font-size: 11px;
  font-weight: 500;
  color: #278870;
  position: absolute;
  z-index: 2;
  left: 70%;
  top: 980px;
}
#card a {
  width: 100%;
  text-decoration: none;
  color: black;
}
#card figure {
  margin: 0px;
  margin-bottom: 13px;
  border-radius: 15px;
  background-color: white;
}
#card img {
  width: 100%;
  height: 140px;
  margin: 0px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
#card figcaption {
  display: flex;
  flex-direction: column;
  padding: 9px 0px 15px 10px;
  font-size: 14.5px;
  font-weight: 800;
}
#card p {
  margin: 1px 0px 0px 0px;
  font-size: 13.9px;
  font-weight: 400;
}
#card i {
  align-self: flex-end;
  padding-right: 20px;
  font-weight: 100;
  position: relative;
  bottom: 20px;
}
@media screen and (max-width: 992px) and (min-width: 550px) {
  #card {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
