article {
    h2 {
        margin: 35px 0px 25px 15px;
        @include taille-titre;
    }
    ol {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        i {
            color: rgb(100, 96, 96);
            padding-right: 20px;
        }
        i:hover {
            color: $color-primary;
        }
        list-style: none;
        width: 80%;
        margin-bottom: 20px;
        padding: 22px 0px 20px 20px;
        border-radius: 7% / 30%;
        box-shadow: 0 3px 15px -6px gray;
        background-color: $color-nav;
        @include taille-article;
        font-weight: 600;
    }
}