button {
    width: 60%;
    margin-bottom: 45px;
    padding: 13px 10px 12px 10px;
    border: none;
    border-radius: 10% / 50%;
    background-color: $color-primary;
    box-shadow: 0 3px 15px -6px gray;
    font-size: 12.4px;
    font-weight: 500;
    letter-spacing : 0.2px;
    color: white;
    &:hover {
        background: linear-gradient($color-secondary, $color-primary);
        box-shadow: 0 6px 15px -3px gray;
    }
    @include tablette {
        width: 30%;
    }
    @include bureau {
        width: 20%;
    }
}