#card {
    a {
        width: 100%;
        margin-bottom: 13px;
        text-decoration: none;
        color: black;
    }
    figure {
        margin: 0px;
        border-radius: 15px;
        background-color: white;
    }
    img {
        width: 100%;
        height: 140px;
        margin: 0px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        padding: 9px 0px 15px 10px;
        font-size: 14.5px;
        font-weight: 800;
    }
    p {
        margin: 1px 0px 0px 0px;
        font-size: 13.9px;
        font-weight: 400;
    }
    i {
        align-self: flex-end;
        padding-right: 20px;
        font-weight: 100;
        position: relative;
        bottom: 20px;
    }
    .nouveau_a {
        @include nouveau;
        top: 765px;
    }
    .nouveau_b {
        @include nouveau;
        top: 980px;
    }
    @include tablette {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            width: 49%;
            margin-bottom: 23px;
        }
        .nouveau_a {
            left: 39%;
            top: 640px;
        }
        .nouveau_b {
            left: 88%;
            top: 640px;
        }
    }
    @include bureau {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            width: 49%;
            margin-bottom: 23px;
        }
        .nouveau_a {
            left: 28%;
            top: 530px;
        }
        .nouveau_b {
            left: 62.7%;
            top: 530px;
        }
    }
}