.menu {
    display: flex;
    flex-direction: column;
    h2 {
        width: 35px;
        margin: 20px 6px 10px 6px;
        padding-bottom: 3px;
        border-bottom: 3px solid $color-tertiary;
        font-size: 13px;
        font-weight: 400;
    }
    div {
        margin-bottom: 11px;
        padding: 10px 10px 0 10px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 3px 15px -6px gray;
        h3 {
            margin: 0 0 5px 0;
            font-size: 14px;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
        span {
            height: 10px;
            padding-right: 8px;
            display: block;
            font-weight: 600;
            text-align: right;
            position: relative;
            bottom: 14px;
        }
    }
    @include tablette {
        margin-bottom: 55px;
        h2 {
            margin-bottom: 20px;
            align-self: center;
        }
    }
    @include bureau {
        width: 30%;
        margin-bottom: 100px;
        h2 {
            margin-bottom: 30px;
            font-size: 15px;
            font-weight: 400;
        }
        div {
            margin-bottom: 20px;
            h3 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}