.name {
    display: flex;
    flex-direction: column;
    h1 {
        margin: 0;
        padding: 6px;
        font-family: 'Shrikhand', cursive;
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
    }
    i {
        @include position-icone;
        bottom: 25px;
    }
    @include tablette {
        h1 {
            margin-bottom: 30px;
            text-align: center;
            font-size: 25px;
        }
        i {
            bottom: 60px;
        }
    }
    @include bureau {
        h1 {
            margin-bottom: 30px;
            text-align: center;
            font-size: 25px;
        }
        i {
            bottom: 60px;
            margin-right: 40px;
        }
    }
}