.name {
    display: flex;
    flex-direction: column;
    h1 {
        margin: 0;
        padding: 6px;
        font-family: 'Shrikhand', cursive;
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
    }
    i {
        @include position-icone;
    }
}