.position {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    text-align: center;
    box-shadow: inset 0px 4px 10px -9px black;
    @include background-nav;
    @include taille-article;
    font-weight: 500;
    i {
        padding-right: 10px;
    }
}