footer {
    padding: 20px;
    background-color: black;
    img {
        width: 30%;            
    }
    ul {
        list-style: none;
        padding: 0px;
        font-size: 12.3px;
        font-weight: 400;
        color: white;
    }
    li {
        margin-bottom: 5px;
    }
    i {
        padding-right: 5px;
        
    }
}