header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    a {
        align-self: flex-start;
        margin-left: 15px;
        padding: 2px;
        text-decoration: none;
        color: black;
        position: absolute;
        top: 3%;
    }
    .logo {
        width: 45%;
        margin-top: 18px;
    }
    +img {
        width: 100%;
        object-fit: cover;
    }
    @include tablette {
        a {
            top: 6%;
            i {
                font-size: 20px;
            }
        }
        +img {
            height: 300px;
        }
    }
    @include bureau {
        a {
            top: 9%;
            i {
                font-size: 30px;
            }
        }
        +img {
            height: 500px;
        }
    }
}